---
name: build and push

on:
  push:
    branches:
      - 'main'
  schedule:
    - cron: '0 11 * * 2'
  pull_request:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyver:
          - py37
          - py38
          - py39
          - py310
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Gather metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            shivupa/cclib-ci
          flavor: |
            latest=true
          tags: |
            type=schedule,pattern={{date 'YYYYMMDD'}},prefix=${{ matrix.pyver }}-
            type=sha,prefix=${{ matrix.pyver }}-
            type=edge,prefix=${{ matrix.pyver }}-
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and export to Docker
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.pyver }}
          push: false
          load: true
          tags: ${{ steps.meta.outputs.tags }}
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        when: ${{ github.event_name != 'pull_request'}}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: ${{ matrix.pyver }}
          push: ${{ github.event_name != 'pull_request'}}
          tags: ${{ steps.meta.outputs.tags }}
